* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
    font-family: "McLaren", cursive;
}

html {
    font-family: "Montserrat", sans-serif;
}

header {
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    &[data-theme="light"] {
        background: #f5ba13;
    }

    &[data-theme="dark"] {
        background: #777773;
    }
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}
